{% extends 'base.html.twig' %}

{% block title %}Pizzeria!{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div class="card mt-3">
        <div class="card-header">
            <h3 class="card-title text-center"> Modification d'une pizza </h3>
        </div>
        <div class="card-body">
            <div class="row">
                {{ form_start(form) }}
                <div class=" col-8 offset-2">
                    <div class="row">
                        {{ form_row(form.name) }}
                    </div>
                    <div class="row">
                        {{ form_row(form.ingredients) }}
                    </div>
                    <div class="row">
                        <p>Prix des ingrédients : <span id="pizza-price">{{ form.vars.value.price }}</span> €</p>
                    </div>
                    <div class="row">
                        <div class=" col-2 offset-10">
                            <button type="submit" class="btn btn-primary"> Enregistrer</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pizza') }}
{% endblock %}
